<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-20.20logger{0} : %msg%n</pattern>
            <!-- Optional color support -->
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %-20.20logger{0} : %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level> <!-- Only show INFO and higher logs in console -->
        </filter>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Keep logs for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-20.20logger{0} : %msg%n</pattern>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="ua.cryptogateway" level="debug" additivity="true">
        <appender-ref ref="ROLLING" />
    </logger>

    <logger name="io.ktor.client" level="info" additivity="true">
        <appender-ref ref="ROLLING" />
    </logger>

    <logger name="com.zaxxer.hikari" level="info" additivity="true">
        <appender-ref ref="ROLLING" />
    </logger>

    <logger name="Exposed" level="info" additivity="true">
        <appender-ref ref="ROLLING" />
    </logger>
</configuration>